Source: ros-hydro-ur-driver
Section: misc
Priority: extra
Maintainer: Shaun Edwards <sedwards@swri.org>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-hydro-ur-driver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-beautifulsoup, ros-hydro-actionlib, ros-hydro-control-msgs, ros-hydro-rospy, ros-hydro-sensor-msgs, ros-hydro-trajectory-msgs
Description: Driver for the UR5/10 arm based on the Polyscope control scheme.
