Source: ros-hydro-ur-description
Section: misc
Priority: extra
Maintainer: Kelsey Hawkins <kphawkins@gatech.edu>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin, ros-hydro-urdf
Homepage: 
Standards-Version: 3.9.2

Package: ros-hydro-ur-description
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-urdf
Description: URDF description for Universal UR5/10 robot arms
